.App {
  padding-top: 4rem;
  background-image: url("https://bhf-cdn.azureedge.net/bhf-blob-prod/0031387_purr-purple-cat-wallpaper_100.jpeg");
}

* {
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
  font-style: rgb(212, 131, 246);
}
.card {
  max-width: 500px;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  border: 10px dotted rgb(68, 10, 93);
  border-radius: 50%;
  margin-top: 3rem;
}

img {
  max-width: 300px;
  max-height: 300px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.delete {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 40px;
  height: 30px;
  font-size: 20px;
}

.title {
  padding-left: 3.5rem;
  color: rgb(68, 10, 93);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  padding-bottom: 1rem;
  color: rgb(68, 10, 93);
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

p {
  font-size: 20px;
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 3rem;
  color: rgb(68, 10, 93);
  font-weight: 500;
}

.cats {
  font-size: 50px;
  margin-bottom: 3rem;
}

#form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.button {
  background-color: rgb(212, 131, 246);
  padding: 1rem;
  width: 10%;
  border-radius: 10%;
  border-color: rgb(68, 10, 93);
}

input {
  width: 50%;
  height: 2rem;
}

.dropdown {
  display: flex;
  justify-content: center;
  height: 30px;
}

#cats {
  width: 200px;
  height: 40px;
  background-color: rgb(184, 166, 192);
  border: none;
  font-weight: 800;
  color: rgb(68, 10, 93);
  text-align: center;
  font-size: 20px;
}

.newform {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.formDiv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

#tog {
  background-color: rgb(184, 166, 192);
  border: none;
  font-weight: 800;
  color: rgb(68, 10, 93);
  font-size: 20px;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#hidden-button {
  width: 200px;
  height: 40px;
  background-color: rgb(184, 166, 192);
  border: none;
  font-weight: 800;
  color: rgb(68, 10, 93);
  text-align: center;
  font-size: 20px;
}
